<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Page</title>
</head>
<body>
    <div class='font-weight-bold'>
        Name: <span class='font-weight-normal'><%= student.name %> </span> &nbsp;
        Roll: <span class='font-weight-normal'><%= student.rollNo %></span>
        <a href="/crs/" class="btn btn-danger" style="float: right;">Log Out</a>
    </div>
  <div class="container">
    <h1 class="mb-4">Student Page</h1>
    <a href="/crs/showregistered" class="btn btn-success">Show Registered Courses</a>
    <% courses.forEach (course => {  %>
        <div class="card mt-4">
            <div class="card-body">
              <h4 class="card-title"><%= course.title %></h4>
              <div class="card-subtitle text-muted mb-2">
                  <span>Available Sections :</span>
                  <% course.sections.forEach(section => {  %>
                    <span><%= section.name %>,</span>
                  <% })  %>
              </div>

              <form class="d-inline" id="<%= course.title %>" action='/crs/register/<%=course.id %>', method="POST">
                <select class="section btn bg-light" name='section'>
                    <% course.sections.forEach(section => { %>
                        <option value="<%= section.name %>"> <%= section.name %> </option>
                    <% }) %>
                </select>
                <button type="submit" class="btn btn-primary reg-btn" id="<%= course.id %>" name='reg' value="register">Register</button>
                
            </form>
            </div>
          </div>
    <% })  %>
    </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    //   $(function(){
    //       $('.reg-btn').on('click', function(){
    //           $(this).attr('disabled', true)
    //       })
    //   })
  </script>

</body>
</html>